
export(sim_categorical_data)
export(generateMaxCorrelatedData)
export(adjustCorrelation)
export(sample_dataframe)
export(OSM_Weighted)
export(score_OSM)
export(convertResponseToFactor)
export(twoPhaseSPML_ord)
export(Var_OSM)
export(name_vec)
export(change_and_copy_names)
export(combine_OSM_Parameters)
export(fnc_wgts_ordinal)
export(vglm_qr)
export(vglm_fit_qr)
export(FIM_ordinal)
export(Testing_EM_joint0_ord)
export(loglik_ord)
export(adjustCorrelation)
export(generateMaxCorrelatedData)
export(calculate_hessian_str)
export(calculate_derivatives_str)
export(calc_stats)
export(plot_cumulative_means)
export(calc_pvals)
export(capture_fit_with_warnings)
export(simulateGZ)
export(convertMeanFrequenciesToTable)
export(fitnessTP_ord)
export(sample_dataframe_pop)
export(sample_dataframe_balanced_matrix)
export(apply_balanced_sampling_matrix)

import(data.table)
import(Matrix)
import(VGAM)
import(ggplot2)
import(MASS)
import(statmod)
import(twoPhaseGAS)
import(dplyr)
import(msm)

